<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>地址管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,users-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="application/javascript">
		function upState(id) {
			$.post("updateOrderStatr","id="+id,{});
			location.href="";
		}
	</script>
    
</head>

<body class="hold-transition skin-red sidebar-mini">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">查看地址</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th>
										  <th class="sorting_asc">地址ID</th>
									      <th class="sorting">用户</th>
									      <th class="sorting">收货人</th>
									      <th class="sorting">手机号</th>
									      <th class="sorting">省份</th>
									      <th class="sorting">城市</th>
									      <th class="sorting">详细地址</th>
									      <th class="sorting">是否默认</th>
			                          </tr>
			                      </thead>
								  <tbody>
								  <tr th:each="address:${addressList}">
									  <td><input  type="checkbox"></td>
									  <td th:text="${address.id}">id</td>


									  <td>
										   <span th:each="users:${userList}">
											  <span th:if="${address.uid==users.id}">
												  <span th:text="${users.username}"></span>
											  </span>
										  </span>
									  </td>
									  <td th:text="${address.name}">商品ID</td>
									  <td th:text="${address.phone}">商品名称</td>
									  <td th:text="${address.province}">商品数量</td>
									  <td th:text="${address.city}">价格</td>
									  <td th:text="${address.detail}">价格</td>
									  <td >
										  <span th:if="${address.state==1}">
											  <span class="badge" style="background-color:red;">默认地址</span>
										  </span>
									  </td>
								  </tr>
								  </tbody>
			                  </table>
			                  <!--数据列表/-->
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->


</body>

</html>