<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>种类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,users-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="application/javascript">

		//新增按钮
		function addKind() {
			var data = $("#addForm").serialize();  //序列化表单数据
			// alert(data)
			$.ajax({
				url:"/kind_add",                   //跳转地址
				data:data,							//传输的数据
				type:"post",						//get post 发送类型
				dataType:"json",					//传输格式
				success:function (result) {			//result  是返回的结果
					// alert(JSON.stringify(result));
					if(result.code==200){
						alert(result.message);
						location.href="";
					}else {
						alert(result.message);
					}
				}
			});
		}

		//根据id查找修改数据用于回显
		function goUpdate(id) {
			$.getJSON(
					"kind_getById",
					{"id":id},
					function (result) {
						// alert(JSON.stringify(result));
						//回显到更新界面
						$("#update_id").val(result.id);
						$("#update_name").val(result.kind);
			});
		}

		//修改
		function updateKind() {
			var data = $("#updateForm").serialize();
			$.post("kind_update",data,
				function (result){
					// alert(JSON.stringify(result))
					if(result.code==200){
						alert(result.message);
						location.href="";
					}else {
						alert(result.message);
					}
				},
				"json");
		}

		//删除
		function deleteKind(id) {
			if(confirm("确定删除")){
				$.getJSON("kind_delete",{"id":id},function (result) {
					// alert(JSON.stringify(result))
					if(result.code==200){
						alert(result.message);
						location.href="";
					}else {
						alert(result.message);
					}
				});
			}
		}

		//全选
		function chAll(ck) {
			$("[name='child']").prop("checked",$(ck).prop("checked"));
		}
		//点击每个选择框
		function ckChild() {
			var totalcount = $("[name='child']").length;
			var selectcount = $("[name='child']:checked").length;
			if(totalcount==selectcount){
				$("#selall").prop("checked",true);
			}else {
				$("#selall").prop("checked",false);
			}
		}

		//批量删除
		function deleteSome() {
			var ids=new Array();
			var childs = $("[name='child']:checked");
			if(childs.length>0){
				for (var i=0;i<childs.length;i++){
					var id=childs[i].value;
					ids.push(id);
				}
				$.ajax({
					url:"kind_deleteSome",
					data:"ids="+ids,
					dataType:"json",
					type:"post",
					success:function (result) {
						// alert(JSON.stringify(result))
						if(result.code==200){
							alert(result.message);
							location.href="";
						}else {
							alert(result.message);
						}

					}
				});
			}else {
				alert("请选择要删除的品牌信息")
			}
		}
	</script>


</head>
<body class="hold-transition skin-red sidebar-mini">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">种类管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#addModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" onclick="deleteSome()" title="批量删除" ><i class="fa fa-trash-o"></i> 批量删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                                         
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" onclick="chAll(this)" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">种类ID</th>
										  <th class="sorting">种类名称</th>
																      
									      <th class="sorting">创建时间</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr th:each="kind:${kindList}">
			                              <td><input th:value="${kind.id}"  type="checkbox" name="child" onclick="ckChild()"></td>
				                          <td th:text="${kind.id}">1</td>
										  <td th:text="${kind.kind}">联想</td>
		                                  <td  th:text="${#dates.format(kind.create_time,'yyyy-MM-dd HH:mm')}">L</td>

		                                  <td class="text-center">
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" th:onclick="|goUpdate(${kind.id})|" data-target="#editModal"  >修改</button>
		                                 	  <button type="button" class="btn bg-red btn-xs" data-toggle="modal"  th:onclick="|deleteKind(${kind.id})|" >删除</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
<!-- 默认是隐藏的编辑窗口 点击按钮弹出 -->
  <form action="#" method="post" id="updateForm">
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel1">修改种类</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>种类名称</td>
		      		<td>
						<input type="hidden" name="id" id="update_id">
						<input  class="form-control" name="kind" id="update_name" placeholder="品牌名称" >  </td>
		      	</tr>
			</table>
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="updateKind()">更新</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
  </form>


  <!-- 新增窗口 点击按钮弹出 -->
  <form id="addForm" action="#" method="post">
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h3 id="myModalLabel">种类编辑</h3>
			  </div>
			  <div class="modal-body">
				  <table class="table table-bordered table-striped"  width="800px">
					  <tr>
						  <td>种类名称</td>
						  <td><input  class="form-control" name="kind" placeholder="种类名称" >  </td>
					  </tr>
				  </table>
			  </div>
			  <div class="modal-footer">
				  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="addKind()" >新增</button>
				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>
  </form>
</body>
</html>